body {
    p {
        color: #666;
    }
}

$light-gray: #e6e6e6;

// $hero-header-background-color: $light-gray;
$hero-header-background-color: $light-gray;

$hero-header-background-image: url('../img/mountain-lake-3.jpg') no-repeat 0% 37%;

.bg-header {
    background: $hero-header-background-image;
    background-size: cover;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    //   background-color: $hero-header-background-color;
    padding: 2rem 0;
    h1, ul, p {
        color: $light-gray;
    }
    .losange {
        margin: 75px auto;
        transform-origin: 50% 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        transform: rotate(45deg) translateY(10px);

        // &.div {
        //     margin: 0 auto;
        //     transform-origin: 50% 50%;
        //     overflow: hidden;
        //     width: 250px;
        //     height: 250px;
        // }
        .los1 {
            width: 355px;
            height: 355px;
            transform: rotate(-45deg) translateY(-74px);

            img {
                max-width: 140%;
                height: auto;
                position: relative;
                left: -72px;
            }
        }
    }
    .button.primary {
        background-color: #34656a;
    }
}

.hero-header-description {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
        flex: 1 0 200px;
        text-align: center;
        padding: 0 1.25rem;
        position: relative;
        white-space: nowrap;

        &:before {
            content: "*";
            position: absolute;
            left: 0;
            top: 5px;
        }

        &:first-child:before {
            content: "";
        }
    }
}

.hero-header-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;

    li {
        margin: 1.25rem;

        a {
            padding-left: 1.875rem;
            padding-right: 1.875rem;
        }
    }
}
.mainContent {
    width: 100%;
    padding: 50px 0;
    .imgContent {
        img {
            margin: 0 auto;
        }
    }
    .imgDescription {
        text-align: center
    }
}