body p {
  color: #666;
}

.bg-header {
  background: url("../img/mountain-lake-3.jpg") no-repeat 0% 37%;
  background-size: cover;
}

.hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.hero-header h1, .hero-header ul, .hero-header p {
  color: #e6e6e6;
}

.hero-header .losange {
  margin: 75px auto;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 250px;
  -webkit-transform: rotate(45deg) translateY(10px);
          transform: rotate(45deg) translateY(10px);
}

.hero-header .losange .los1 {
  width: 355px;
  height: 355px;
  -webkit-transform: rotate(-45deg) translateY(-74px);
          transform: rotate(-45deg) translateY(-74px);
}

.hero-header .losange .los1 img {
  max-width: 140%;
  height: auto;
  position: relative;
  left: -72px;
}

.hero-header .button.primary {
  background-color: #34656a;
}

.hero-header-description {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.hero-header-description li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  text-align: center;
  padding: 0 1.25rem;
  position: relative;
  white-space: nowrap;
}

.hero-header-description li:before {
  content: "*";
  position: absolute;
  left: 0;
  top: 5px;
}

.hero-header-description li:first-child:before {
  content: "";
}

.hero-header-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.hero-header-menu li {
  margin: 1.25rem;
}

.hero-header-menu li a {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.mainContent {
  width: 100%;
  padding: 50px 0;
}

.mainContent .imgContent img {
  margin: 0 auto;
}

.mainContent .imgDescription {
  text-align: center;
}
/*# sourceMappingURL=app.css.map */